*{
 margin: 0px;
 padding: 0px;
}
#wrapper {
  padding: 10px;
  background-color: silver;
  width : 950px;
  margin: 0px;
}
#header{
 margin: 5px;
 margin-bottom: 10px;
 padding: 0px;
 height: 150px;
 background-color: green;
}
#navigation{
 margin: 10px;
 margin-left: 5px;
 padding : 0px;
 height: 300px;
 width: 200px;
 background-color: blue;
 display: inline-block;
}
#main_content{
 vertical-align: top;
 margin: 5px;
 margin-top: 10px;
 padding: 10px;
 padding-bottom: 5px;
 height: 400px;
 width: 700px;
 background-color: red;
 display: inline-block;
}
.subcontents{
 margin: 5px;
 margin-bottom: 10px;
 padding: 0px;
 height: 200px;
 width: 210px;
 background-color: yellow;
 display : inline-block;
}
#advertisement{
 margin: 5px;
 margin-top: 10px;
 padding: 0px;
 height: 120px;
 width: 660px;
 background-color: purple;
}
